/* ==========================================================================
   Archives
   ========================================================================== */

.c-archives {
  margin-bottom: 10rem;
}

.c-archives__year {
  margin-bottom: 2.5rem;
  @include fs--heading-1;
}

.c-archives__list {
  margin-bottom: 2.5rem;
  list-style: none;
}

.c-archives__item {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-top: 1px solid #EFF1F3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  h3 {
    @include fs--body;
  }

  p {
    @include fs--body;
    color: #515862;
  }
}
