/* ==========================================================================
   Footer
   ========================================================================== */

footer {
  padding: 12px;
  font-size: 14px;
  color: white;
  position: relative;
  background: $t-theme;
}

.c-footer__container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: 8px;
}

.footer_logo__container {
  flex: 1;

  img {
    height: 50px;
  }

  span {
    display: inline-block;
    line-height: 50px;
    margin: 0 10px;
    vertical-align: bottom;
  }
}

.footer-spacer {
  flex: 1;
}
footer.c-footer {
  .footer-copyright {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
