/* ==========================================================================
   Navigation
   ========================================================================== */

.mat-toolbar {
  background: $t-theme;
  color: white;
  width: 100%;
  min-height: 64px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;

  .mat-toolbar-row {
    height: 64px;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap
  }
}

.navigation-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-position: inside;
    padding: 0;
    margin: 0;

    li {
      padding-bottom: 2px;
      list-style-type: none;
      cursor: pointer;

      &:hover {
        opacity: .7;
      }
    }
  }

  a.nav-link {
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
    padding: 24px 0;

    .nav-link-inner {
      padding: 8px 16px;
    }

    &.is-active {
      margin: 0;
      padding: 24px 0;
      cursor: pointer;

      .nav-link-inner {
        background: rgba(255,255,255,.15);
        border-radius: 4px;
      }
    }
  }
}
