/* ==========================================================================
   Grey Theme
   ========================================================================== */

.t-grey {

  .mat-toolbar {
    background: $blue-grey-500;
  }

  .c-article__main a:not(.c-btn) {
    color: $blue-grey-500;
  }

  .c-footer a {
    color: $blue-grey-500;
  }

  .c-footer {
    background: $blue-grey-500;
  }
}
